head
  meta(charset="utf-8")
  title= title
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(http-equiv="x-ua-compatible" content="ie=edge")

  block styles
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet")

    //build:css css/forms.css
    link(href="css/datepicker.min.css" rel="stylesheet")
    link(href="css/normalize.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    //endbuild

  block scripts
    script(defer src="js/datepicker.min.js")
    script(defer src="js/main.js")
   
    //build:remove 
    script(defer src="js/_viewport.js") 
    //endbuild